<div class="row p-4" style="direction: rtl; text-align: right;">
    <div class="col-sm-12">
        <div class="alert alert-info" style="position:sticky; z-index: 10;">
            <div class="btn-group mx-2" role="group" aria-label="Basic outlined example" style="direction: ltr;">
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent10']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page10</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent9']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page9</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent8']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page8</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent7']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary active">Page7</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent6']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page6</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent5']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page5</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent4']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page4</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent3']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page3</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent2']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page2</a>
                <a [routerLink]="['/collegeadmin', {outlets:{'col':['selstudent']}}]" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-primary">Page1</a>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="card" style="width: 30rem; margin: auto;">
        <img [src]="url" *ngIf="url && url != ' '" class="card-img-top" style="min-width: 100%; min-height: 100%; margin: auto" alt="هوية الاحوال المدنية">
        <img src="assets/nophoto.png" *ngIf="url && url == ' '" class="card-img-top" style="min-width: 25%; min-height: 25%; margin: auto" alt="هوية الاحوال المدنية">
        <div *ngIf="!url" class="spinner-border text-danger" style=" margin: auto" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="card-body" style="direction: rtl; text-align: right;">
            <div class="progress" *ngIf="prog">
                <div class="progress-bar progress-bar-striped bg-warning"  id="pb" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <h2 class="card-title text-center text-primary">هوية الاحوال المدنية</h2>
          <h3 class="card-title text-center text-danger">الوجه الأول</h3>
          <div class="d-flex justify-content-lg-around border border-info rounded p-1">
            <button class="btn btn-sm btn-warning" (click)="browse()">تعديل الصورة</button>
          </div> 
          <input type="file" name="js1" id="js1" hidden (change)="filec($event)">
          <div class="form-group">
              <label for="" class="text-primary">رقم الهوية:</label>
              <input type="text" class="form-control" [(ngModel)]="gn">
          </div>
          <div class="form-group">
            <label for="" class="text-primary">تاريخ الاصدار:</label>
            <input type="date" class="form-control" [(ngModel)]="gd">
          </div>
          <div class="form-group">
            <label for="" class="text-primary">جهة الاصدار:</label>
            <input type="text" class="form-control" [(ngModel)]="ga">
          </div>
          <br>
          <div class="form-group text-center">
            <button class="btn btn-sm btn-danger" (click)="updatevalues()">تعديل البيانات</button>
          </div>
        </div>
    </div>
    <br>
        <div class="card" style="width: 30rem; margin: auto;">
            <img [src]="url2" *ngIf="url2 && url2 != ' '" class="card-img-top" style="min-width: 100%; min-height: 100%; margin: auto" alt="هوية الاحوال المدنية">
            <img src="assets/nophoto.png" *ngIf="url2 && url2 == ' '" class="card-img-top" style="min-width: 25%; min-height: 25%; margin: auto" alt="هوية الاحوال المدنية">
            <div *ngIf="!url2" class="spinner-border text-danger" style=" margin: auto" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="card-body" style="direction: rtl; text-align: right;">
                <div class="progress" *ngIf="prog2">
                    <div class="progress-bar progress-bar-striped bg-warning"  id="pb2" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              <h2 class="card-title text-center text-primary">هوية الاحوال المدنية</h2>
              <h3 class="card-title text-center text-danger">الوجه الثاني</h3>
              <div class="d-flex justify-content-lg-around border border-info rounded p-1">
                  <button class="btn btn-sm btn-warning" (click)="browse2()">تعديل الصورة</button>
              </div>
              <input type="file" name="js2" id="js2" hidden (change)="filec2($event)">
              <br>
            </div>
        </div>
</div>