<div class="container p-4" style="display: flex; justify-content: center; align-items: center; height: 90vh;">
    <div class="text-center">
            <h1 class="text-primary">
                <span>نظام معلومات الطلبة</span>
            </h1>
            <br>
            <h1 class="text-primary">
                <span>Students Information System</span>
            </h1>
            <br>
            <h1 class="text-primary">
                <span>جامعة البصرة</span>
            </h1>
            <br>
            <div style="display: flex; justify-content: space-around;">
                <!-- <button class="btn btn-primary" (click)="login()">Login</button> -->
                <button class="btn btn-warning" (click)="continue()">Continue</button>
            </div>
    </div>
</div>
