<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="text-warning border-bottom ">S.I.S <span class="spacer"></span><mat-icon class="mat-18" class="text-danger float-left">account_balance</mat-icon></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" [routerLink]="['/newstudent']" routerLinkActive="router-link-active" class="text-primary"><span>تسجيل طالب جديد</span><span class="spacer"></span><mat-icon class="mat-18">people</mat-icon></a>
        <a mat-list-item href="#" [routerLink]="['/dprtstudents', {outlets: {'students':['studentslist']}}]" routerLinkActive="router-link-active" >استيراد طلبة</a>
        <a mat-list-item href="#">قائمة الطلاب</a>
        <a mat-list-item href="#">تصدير طلبة</a>
        <a mat-list-item href="#">تصدير معرفات</a>
        <a mat-list-item href="#" [routerLink]="['/departmentadmin']" routerLinkActive="router-link-active" >رجوع</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>sis</span>
    </mat-toolbar>
    
  </mat-sidenav-content>
</mat-sidenav-container>
